{% extends 'base.html' %}

{% block content %}

<!-- on/off -->
<section class="container">
    <button type="button" class="btn btn-info" onclick="location.href='/on'">ON</button>
    <button type="button" class="btn btn-info" onclick="location.href='/off'">OFF</button>
</section>

<!-- general settings -->
<section class="container">
    <form action="brightness" method="post" id="f_brightness"></form>
    <form action="saturation" method="post" id="f_saturation"></form>
    <form action="transitiontime" method="post" id="f_transitiontime"></form>

    <table class="table table-light table-hover table-sm">
        <thead>
            <tr>
                <th>Command Name</th>
                <th>Value Range/Unit</th>
                <th>Value</th>
                <th>Set</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label for="brightness">Brightness</label></td>
                <td>[0, 254]</td>
                <td><input type="number" id="brightness" name="brightness" value=254 form="f_brightness"></td>
                <td><button type="submit" class="btn btn-info" form="f_brightness">Set</button></td>
            </tr>
            <tr>
                <td><label for="saturation">Saturation</label></td>
                <td>[0, 254]</td>
                <td><input type="number" id="saturation" name="saturation" value=254 form="f_saturation"></td>
                <td><button type="submit" class="btn btn-info" form="f_saturation">Set</button></td>
            </tr>
            <tr>
                <td><label for="transition_time">Transition Time</label></td>
                <td>ms</td>
                <td><input type="number" id="transition_time" name="transition_time" value=400 form="f_transitiontime"></td>
                <td><button type="submit" class="btn btn-info" form="f_transitiontime">Set</button></td>
            </tr>
        </tbody>
    </table>
</section>

<!-- standard lights -->
<section class="container">
    <button type="button" class="btn btn-light" onclick="location.href='/lamp'">Lamp</button>
    <button type="button" class="btn btn-light" onclick="location.href='/d50'">D50</button>
    <button type="button" class="btn btn-light" onclick="location.href='/d65'">D65</button>
</section>

<!-- Party (gradation (continuous change)) -->
<section class="container">
    <button type="button" class="btn btn-primary" onclick="location.href='/start_party'">Start Party!</button>
    <button type="button" class="btn btn-danger" onclick="location.href='/start_intense_party'">Start Intense Party!</button>
    <button type="button" class="btn btn-primary" onclick="location.href='/stop_party'">Stop Party</button>
</section>

{% endblock %}
